/* css for home page*/
body {
    background: #004225; /*casino green */
    color: white;
    font-family: Arial;
    margin: 0;
}

header {
    background: black;
    padding: 10px;
    text-align: center;
}

nav a {
    color: gold;
    margin: 0 10px;
    text-decoration: none;
}

.btn {
    background: gold;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}